* {
    border: 1px solid red;
    caret-color: transparent;
}

html {
    border: 2px solid blue;
}

#game-board {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.row {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.square {
    border: 2px solid limegreen;
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square p {
    font-size: 64px;
}