@font-face {
    font-family: 'chalk board';
    src: url(/chalk-board/chalk-board-demo/Chalk\ Board.ttf);
}

* {
    border: 0px solid red;
    caret-color: transparent;
}

html {
    border: 0px solid blue;
    background-color: #ECE9E9;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 36px;
    background-color: ;
    border: 3px solid darkred;
    border-left: 0;
    border-right: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

#score-board {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.title {
    font-size: 24px;
    padding-bottom: 4px;
    border-bottom: 4px solid darkred;
}

#p1-score,
#p2-score,
#setting-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#p1-score,
#p2-score {
    gap: 8px
}

#p1-score p,
#p2-score p {
    margin: 0;
    text-align: center;
    min-width: 160px;
}

#setting-board{
    min-height: 100px;
    min-width: 150px;
    gap: 16px;
}

#setting-button-container {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
}

#start-button-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #F5C4C4;
    border: 2px solid darkred;
}
button:hover {
    background-color: #EC9999;
}
button:active {
    background-color: indianred;
    color: #F5C4C4;
}

#setting-board button {
    pointer-events: auto;
    padding: 4px;
    border-radius: 0;
}

#setting-button-container button {
    text-align: center;
    width: 100px;
}

#start-button-container button {
    width: 100px;
    height: 48px;
}

#toggle-ai,
#toggle-ai-hard {
    text-align: left;
}

#game-board {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 32px; 
    margin-bottom: 32px;
}

.row {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.square {
    border: 2px solid indianred;
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.square p {
    font-size: 64px;
    color: #642020;
}

#win-result-container {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#win-result {
    text-align: center;
    font-size: 32px;
    margin: 0;
    margin-bottom: 24px; 
}

#win-result-container-buttons {
    display: flex;
    gap: 16px; 
    justify-content: center;
}

#win-result-container-buttons button {
    padding: 8px;
    width: 100px;
}

#play-again {
    display: none;
}

#reset {
    display: none;
}